<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1 align="center">Exception Handler 사용하기</h1>
    <!-- 예외 상황을 페이지로 작성 -->
    <h3>SimpleMappingExceptionResolver를 이용한 방식</h3>
    <button onclick="location.href='simple-null'">NullPointerException 테스트</button>
    <button onclick="location.href='simple-user'">NullPointerException 테스트</button>

    <h3>@ExceptionHandler 어노테이션를 이용한 방식</h3>
    <button onclick="location.href='annotation-null'">NullPointerException 테스트</button>
    <button onclick="location.href='annotation-user'">NullPointerException 테스트</button>
</body>
</html>