<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.transactional.section01.annotation.OrderMapper">
    <insert id="registOrder">
        INSERT
          INTO TBL_ORDER
        (
          ORDER_DATE
        , ORDER_TIME
        , TOTAL_ORDER_PRICE
        )
        VALUES
        (
          #{ orderDate }
        , #{ orderTime }
        , #{ totalOrderPrice }
        )
        <!-- 설명. MyBatis의 AUTO_INCREMENT 처리방법
              insert후에 select를 통해 몇번으로 주문했는지 조회해야 한다.( 조회한 걸로 주문메뉴 엔티티에 insert를 한번 더 해야하기 떄문)
              INSERT 후 int값이 돌어가는 것이 당연하지만 추가로 조회 결과(현재는 INSERT 당시 pk값)를 가지고 돌아가게 해 줄 수 있다.
        -->
        <!-- 설명. 4-2에서 넘겨준 order에 orderCode 안에 아래의 결과값이 담긴다. -->
        <selectKey keyProperty="orderCode" order="AFTER" resultType="_int">
            SELECT MAX(ORDER_CODE) FROM TBL_ORDER
        </selectKey>
    </insert>

    <insert id="registOrderMenu" parameterType="com.ohgiraffers.transactional.section01.annotation.OrderMenu">
        INSERT
          INTO TBL_ORDER_MENU
        (
          ORDER_CODE
        , MENU_CODE
        , ORDER_AMOUNT
        )
        VALUES
        (
        <!-- 설명. OrderMenu에 넣은 순서나 DB를 자세히 보고 맞춰서 넣어야함 -->
          #{ orderCode }
        , #{ menuCode }
        , #{ orderAmount }
        )
    </insert>
</mapper>